body {
    background-color: #EEE;
    background-image: url("../img/marimo.png");

    .main {
        margin: 50px auto;
        text-align: center;
        position: relative;

        .title {
            margin: 50px auto;
            font-size: 3rem;
        }

        #dialog {
            position: absolute;
            top: 450px;
            right: 0;
            left: 0;
            width: 600px;
            margin: auto;
            padding: 30px 20px;
            display: none;
            text-align: center;
            border: 1px solid #aaa;
            box-shadow: 2px 2px 4px #888;
            background-color: white;
        }
    }
}